<h1>Tigra</h1>
<!-- бандим в одну сторону [] в другую сторону () изменение шаблона * -->
<a
  href="https://www.youtube.com/watch?v=7c37dXWlkZ0&list=PLjx6D4T5xIm2fPpD0l2Cl4kTW4X0JGs6p&index=17"
  >Lesson</a
>
<!-- <button (click)="toggle = !toggle">toggle</button>
<button (click)="toggle = 111">set 111</button> -->

<!-- ng Switch -->
<!-- <div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="green">Lorem ipsum.</p>
  <p *ngSwitchCase="false" class="gold">Lorem ipsum.</p>
  <p *ngSwitchDefault>Lorem ipsum.</p>
</div> -->

<!-- ng IF-ELSE -->
<!-- <p *ngIf="toggle; else blueP" class="gold">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta?
</p>
<ng-template #blueP>
  <p class="green">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta?
  </p>
</ng-template> -->

<!-- <button (click)="backgroundToggle = !backgroundToggle">Toggle</button> -->
<!-- <div
  [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '3px solid #ccc',
    background: backgroundToggle ? 'gold' : 'blue'
  }"
></div> -->
<!-- <p
  [ngClass]="{
    red: backgroundToggle,
    gold: !backgroundToggle
  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta?
</p> -->

<!-- <p [class.gold]="!backgroundToggle" [class.red]="backgroundToggle">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta?
</p> -->
