.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(236, 224, 185);
}
.mat-card {
  max-width: 200px;
  background-color: rgb(175, 146, 146);
  color: black;
}
.button {
  margin-right: 5px;
}

.image {
  max-width: 200px;
  background-size: cover;
}
